/* header related style */
.header-file {
    display: flex;
}

.information {
    text-align:right ;
    margin: auto;
    font-size: 30px;

}
/* btn-primary{
    padding: 20px 10px;
} */

/*main related style  */
.first{
display: flex;
background-color: rgb(255, 249, 196);
margin: 20px 50px;
}
.informations{
    margin: auto;
    font-size: 30px;
}
.second{

}
.third{

}