/* header related style */
.header-file {
    display: flex;
    margin: 20px 50px;
}

.information {
    text-align:right ;
    margin: auto;
    font-size: 30px;

}
/* btn-primary{
    padding: 20px 10px;
} */

/*main related style  */
.first{
display: flex;
background-color: rgb(255, 249, 196);
margin: 20px 50px;
}
.informations{
    margin: auto;
    font-size: 30px;
}
.second{

}
.hading{
    text-align: center;
    font-size: 40px;
}
.all-skills{
    display: flex;
    justify-content: space-around;
    margin: 0px 600px;
}
.skills{
    font-size: 30px;
}
.third{

}